    *{margin: 0;
    padding: 0;
    }
    body{
        background:#ededed;
        font-size: 16px;
        color: #a5a5a5;
    }
    .gg{
        margin:0 auto;
    }
    .header{
        width: 980px;
        height: 86px;
       /* margin: 0 auto;*/
        
    }
    .header h1{
        font-weight: normal;
        font: 30px "微软雅黑";
        color: #a5a5a5;
        text-align: center;
        line-height: 86px;
        border-bottom: 2px solid #d1d1d1;
    }
    .header h1 strong{
        font-weight: normal;
        font-size: 14px;
    }
    .fenlei{
        width: 980px;
       /* margin:0 auto;*/
    }
    .fenlei h3{
        font: 14px "微软雅黑";
        height: 42px ;
        line-height: 42px;
    }
    .fenlei p{
        font: 18px/30px "楷体"; 
        text-align: center;
        
    }
    .remai{
        width: 602px;
        padding-top: 10px;
        text-indent: 2em;
        font: 16px/30px "楷体";
    }
    .remai p em{
        font-style: normal;
        text-decoration: underline;
    }
    .footer{
        width: 602px;
        text-align:center;
        margin-top: 10px;
    }
    .footer h2{
        font:16px "微软雅黑";
        font-weight: bold;
        margin-right: 30px;
    }
    .footer img{
        float: left;
        margin-right: 30px; 
        margin-top: 30px;
    }
    .footer .boss{
        text-align: left;
    }